.wrapper {
  width: 100%;
  height: calc(100vh - 10vh);
  padding: 20px 40px;
  box-sizing: border-box;
  gap: 24px;
  color: #e4e4e7;
  background: linear-gradient(135deg, #472560, #37194d, #471e65);
  display: flex;
  flex-direction: column;
}

.boardSettings {
  background: rgba(24, 23, 23, 0.6);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.title {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.columnsWrapper {
  display: flex;
  align-items: flex-start;
  height: 70vh;
  gap: 20px;
  border-radius: 12px;
  padding: 20px;
  background: rgba(24, 23, 23, 0.3);

  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #601496 #2a2a2a;
}

.loading,
.notFound {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 50px;
  color: #c7c7d1;
}

.createButton {
  max-height: 40px;
  min-width: 250px;
  background-color: #7e2ac4;
  border-radius: 10px;
  padding: 10px 20px;
  color: #e4e4e7;
  border: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.createButton:hover {
  background-color: #6f1fa6;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

