.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  background: var(--color-bg-main);
  font-family: "Arial", sans-serif;
  color: var(--color-text-primary);
  padding: 20px;
}

.wrapper p {
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
  color: var(--login-error-color);
  animation: bounce 2s infinite;
}

.wrapper h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
